<div class="container" (keydown.enter)="login()">
   <div *ngIf="!isAdminLoginMode">
      <div>Enter your name to start scoring</div>
      <div>
         <md-input-container [floatingPlaceholder]="false">
            <input md-input placeholder="Name" [(ngModel)]="username">
         </md-input-container>
         <button md-icon-button button (click)="login()">
            <i class="material-icons">navigate_next</i>
         </button>
      </div>
   </div>
   <div *ngIf="isAdminLoginMode">
      <div>Admin Login</div>
      <div>
         <md-input-container [floatingPlaceholder]="false">
            <input md-input placeholder="Name" [(ngModel)]="username">
         </md-input-container>
      </div>
      <div>
         <md-input-container [floatingPlaceholder]="false">
            <input md-input type=password placeholder="Password" [(ngModel)]="password">
         </md-input-container>
      </div>
      <div><button md-raised-button color="primary" (click)="login()">Login</button></div>
   </div>
</div>
<button md-button (click)="toggleLoginMode()" class="login-toggle-link">{{ loginModeText() }}</button>
