<form [formGroup]="scoreForm" (ngSubmit)="submitSheet()" *ngIf="scoreSheet">
   <md-input-container>
      <input md-input
            placeholder="Project Number"
            formControlName="projectNumber"
            required>
   </md-input-container>
   <div *ngIf="formErrors.projectNumber" class="validation">
      {{ formErrors.projectNumber }}
   </div>
   <div *ngFor="let criteria of scoreSheet.criteria" class="criteria-group">
      <div>
         {{ criteria.text }}
      </div>
      <div>
         <md-radio-group [(ngModel)]="criteria.score" [ngModelOptions]="{standalone: true}">
            <md-radio-button [value]="1">1</md-radio-button>
            <md-radio-button [value]="2">2</md-radio-button>
            <md-radio-button [value]="3">3</md-radio-button>
            <md-radio-button [value]="4">4</md-radio-button>
            <md-radio-button [value]="5">5</md-radio-button>
         </md-radio-group>
      </div>
   </div>
   <button md-raised-button color="primary" type="submit" [disabled]="!scoreForm.valid">Submit</button>
</form>
